<div class="wrapper" fxLayoutAlign="center center" fxLayout="column">
  <input type="text" [(ngModel)]="name" name="username" (keyup)="getName($event)" placeholder="Your name" *ngIf="!nameSet">
  <div class="container" fxLayout="row">
    <div fxFlex="50" class="left" fxLayout="column" fxLayoutAlign="start">
      <div class="search">
        <mat-form-field fxFlex="auto"  appearance="standard">
          <mat-label>Search</mat-label>
          <input autocomplete="off" type="text" matInput placeholder="..." [(ngModel)]="searchKey">
        </mat-form-field>
      </div>

      <div class="chat-item" fxLayout="row" *ngFor="let user of users | userSearch: searchKey">
        <span class="avatar" fxLayoutAlign="center center">A</span>
        <div fxLayout="column" fxFlex="auto">
          <span>{{user.name}}</span>
          <span class="dull-text last-seen">{{user.msg ? user.msg : '...'}}</span>
        </div>
        <span class="dull-text">{{user.time}}</span>
      </div>
    </div>
    <div fxFlex="50" class="right chat-box" fxLayout="column">
      <div class="msg-wrapper">
        <div class="msg" [class.r-msg]="msg.socket == mySocketId" [class.l-msg]="msg.socket != mySocketId" *ngFor="let msg of messages">
          {{msg.msg}}
        </div>
      </div>
      <input [disabled]="!nameSet" (keyup)="getMsg($event)" [(ngModel)]="userMsg"
             autocomplete="off" type="text" id="composer" placeholder="{{nameSet ? 'Your message...' : 'Update your name to write messages'}}">
    </div>
  </div>
</div>
