<div class="wrapper" fxLayoutAlign="center center" fxLayout="column">
  <input type="text" [(ngModel)]="name" name="username" (keyup)="getName($event)" placeholder="Your name" *ngIf="!nameSet">
  <div class="container" fxLayout="row">
    <div fxFlex="50" class="left" fxLayout="column" fxLayoutAlign="start">
      <div class="search">
        <mat-form-field fxFlex="auto"  appearance="standard">
          <mat-label>Search</mat-label>
          <input autocomplete="off" type="text" matInput placeholder="...">
        </mat-form-field>
      </div>

      <div class="chat-item" fxLayout="row" *ngFor="let user of users">
        <span class="avatar" fxLayoutAlign="center center">A</span>
        <div fxLayout="column" fxFlex="auto">
          <span>{{user.name}}</span>
          <span class="dull-text">{{user.msg ? user.name : '...'}}</span>
        </div>
        <span class="dull-text">1:05 AM</span>
      </div>
    </div>
    <div fxFlex="50" class="right chat-box" fxLayout="column">
      <div class="msg-wrapper">
        <div class="msg l-msg">
          Hi. How are you? Where have you been?
        </div>
        <div class="msg r-msg">
          Hi. How are you? Where have you been?
        </div>
      </div>
      <input autocomplete="off" type="text" id="composer" placeholder="Your message...">
    </div>
  </div>
</div>
